<nav class="navbar navbar-light bg-light justify-content-between">

    <img src="./assets/logo.gif"  />

    <form class="form-inline">

        <a style="color: black;text-decoration: none; " routerLink='/posts'   > List Projects </a> &nbsp;&nbsp;
        <a style="color: black;text-decoration: none;" routerLink='/users'  >  List Freelancers </a> &nbsp;&nbsp;
        <button routerLink='/sessions' type="button" class="btn btn-dark">Sign in </button> &nbsp;&nbsp;
        <button routerLink='/registrations' type="button" class="btn btn-light">Sign up</button> &nbsp;&nbsp;


    </form>
                                                       
                            
</nav>

<br>

