

<div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">All Projects  </h1>
        <a class="btn btn-success" routerLink="/post/new"> create project</a> &nbsp;&nbsp;
        <a class="btn btn-danger" routerLink="/trash"> Trash <i class="fas fa-trash"></i></a>
           </div>
      </div>
    </div>
    <div class="col" >
      <div class="alert alert-danger" role="alert" *ngIf="messageErr" >
         {{messageErr}}
        </div>
  </div>

  
    <div class="row">


        
        <div class="col">
            <table class="table" *ngIf="dataArray">
                <thead class="thead-dark">
                  <tr >
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col"> description</th>
                    <th scope="col"> updated_at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                   
                  
                    <tr *ngFor="let item of dataArray ; index as i" >
                      <th scope="row"> {{item.id}} </th>
                        <td> {{item.title}} </td>
                        <td> {{item.description}}  </td>
                        <td> {{item.updated_at | date:'medium'}}  </td>
                        <td>
                         
                            <a  class="text-success" (click)="details(item.id)" > <i class="fas  fa-2x fa-eye"></i> </a>
                           
                            &nbsp;&nbsp;
                            <a href=""   > <i class="fas fa-2x fa-edit"></i>  </a>&nbsp;&nbsp;
                            <button class="text-danger" (click)="delete(item.id , i)" > <i class="fas  fa-2x fa-trash-alt"></i> </button>
                           

                        </td>
                      </tr>
                   

                </tbody>
              </table>


          </div>
         
      


    </div>
  </div>


