

<div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">All Projects  </h1>
        <a class="btn btn-success" routerLink="/post/new"> create project</a> &nbsp;&nbsp;
        <a class="btn btn-danger" routerLink="/trash"> Trash <i class="fas fa-trash"></i></a>
           </div>
      </div>
    </div>
    <div class="col" >
      <div class="alert alert-danger" role="alert" *ngIf="messageErr" >
         {{messageErr}}
        </div>
  </div>

  
    <div class="row">


        
        <div class="col">
            <table class="table" *ngIf="dataArray">
                <thead class="thead-dark">
                  <tr >
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col"> description</th>
                    <th scope="col"> updated_at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                   
                  
                    <tr *ngFor="let item of dataArray ; index as i" >
                      <th scope="row"> {{item.id}} </th>
                        <td> {{item.title}} </td>
                        <td> {{item.description}}  </td>
                        <td> {{item.updated_at | date:'medium'}}  </td>
                        <td>
                         
                            <a  class="text-success" (click)="details(item.id)" > <i class="fas  fa-2x fa-eye"></i> </a>
                           
                            &nbsp;&nbsp;
                            <a  (click)="getdata(item.title,item.description,item.id)" data-toggle="modal" data-target="#exampleModal"  > <i class="fas fa-2x fa-edit" ></i>  </a>&nbsp;&nbsp;
                            <button class="text-danger" (click)="delete(item.id , i)" > <i class="fas  fa-2x fa-trash-alt"></i> </button>
                           

                        </td>
                      </tr>
                   

                </tbody>
              </table>


            </div>

    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form update start here -->
          <form #f="ngForm" (ngSubmit)="updatenewstudent(f)">
            <!-- firstName validation start here -->
                <div class="form-group">
            
                  <label for="exampleFormControlInput1">Title</label>
                  <input type="text" class="form-control" placeholder="title" [(ngModel)]="dataStudent.title" required name="title" #title="ngModel" ngModel minlength="2" maxlength="20">
                </div>
                <!--  
                   <div class="alert alert-danger" *ngIf="title.touched">
                  title is required
                </div>
                 -->
               
             
            <!-- lastName validation end here -->
            
            <!-- lastName validation start here -->
                <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input type="text" class="form-control" placeholder="description" [(ngModel)]="dataStudent.description" required name="description" #description="ngModel" minlength="2" maxlength="20" ngModel>
                  </div>
                
            <!-- lastName validation end here -->
            
             
                <div class="alert alert-success" *ngIf="messageSuccess">
                    {{messageSuccess}}
                </div>      

               <button class="btn btn-primary" >Update student</button>
              </form>



          <!-- form update end here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

