<div class="container"  >
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10" >
            <div class="wt-bannercontent">
                <div class="wt-bannerhead">
                    <div class="wt-title">
                                <h1><span>Selective platform of Freelancers</span> </h1>
                    </div>
                <div class="wt-description">
                    <p>
                        Find the best freelancers everywhere in Tunisia <br> to carry out your projects quickly with controlled budgets </p></div>
                </div>
                
                <div class="row wt-bannerhead-home" >
                    <div class="col-lg-7 pl-0" >
                
                    <form class="wt-formtheme" action="https://skills.tn/search-projects/" method="get">

                            <fieldset>
                                <div class="row form-home-banner" >
                                    <div class="col-lg-15 pr-0">
                                        <div class="input-group mb-3">
                                            
                                            <form class="form-inline">
                                                <button href='/addproject' type="button" class="btn btn-danger">Add project</button> &nbsp;&nbsp;
                                                <a > or </a> &nbsp;&nbsp;
                                                <input class="form-control mr-sm-2" type="search" placeholder="Search Freelancer ... " aria-label="Search"> 
                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                            </form>
                                    
                                        </div>
                                    </div>
                                
                                </div>	
                                
                            </fieldset>

                    </form>
             </div>
            </div>
        </div>
    </div>
</div>
</div>

